.Button{
    padding:10px 16px;
    border-radius: 0px;
    border: 0px;
    color: white !important;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    background-color: #f9a373;
    transition: .4s all;
    font-family: 'Montserrat';
    text-transform: lowercase;
}

.Button:hover{
    background-color: #00255a;
    color: white;
    text-decoration: none;
}