.ProfilePost{
    background-color: #fcfcf8;
    margin-bottom: 10px;
    padding: 24px;
}

.ProfilePost_link{
    color: #00255a;
}

.ProfilePost_commentCount{
    padding-top: 5px;
}

.ProfilePost_link:hover{
    color: #00255a;
    text-decoration: none;
}

.ProfilePost_link:hover {
    color: #00255a;
    text-decoration: none;
}

.ProfilePost_link:hover .ProfilePost_title {
    color: #f9a373;
}

.ProfilePost_link:hover .ProfilePost_body {
    color: #f9a373;
}

.ProfilePost_title{
    font-size: 24px;
    transition: .4s all;
}

.ProfilePost_body{
    transition: .4s all;
}