.Post{
    background-color: #fcfcf8;
    margin-bottom: 10px;
    padding: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.Post_title{
    font-size: 24px;
    transition: .4s all;
}

.Post_username{
    color: #f9a373;
    transition: .4s all;
    margin-right: 5px;
}

.Post_infoContainer{
    display: flex;
    flex-direction: row;
}

.Post_link{
    text-decoration: none;
    color: #00255a;
}

.Post_link:hover{
    text-decoration: none;
    color: #00255a;
}

.Post_text{
    color: #00255a;
}

.Post_date{
    margin-right: 10px;
}

.Post_username:hover{
    color: #00255a;
    text-decoration: none;
}

.Post_icon{
    color: #f9a373;
}

.Post_icon--inActive{
    color: lightgray;
    pointer-events: none;
}

.Post_infoContainer{
    display: flex;
}

@media only screen and (max-width: 768px) {
    .Post_infoContainer{
        flex-direction: column;
    }
}